/** @define Navbar */
.Navbar {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  height: 72px;
  justify-content: space-around;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &-container {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 25px;
    justify-content: space-between;
    width: 95%;
  }

  &-logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: 55px;
    width: auto;

    &-png {
      height: 100%;
      width: auto;
    }

    &-svg {
      margin-left: -135px;
    }
  }

  &-signals {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
    justify-content: space-around;
    width: 150px;
  }

  &-signals-icon {
    fill: rgba(77, 32, 43, 1);
    height: 40px;
    transition: all 0.2s ease-in-out;
    width: auto;

    &--active {
      fill: $warm-color;
    }
  }

  &-status {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    height: 50px;
    width: auto;
  }

  &-status-text {
    color: $secundary-color;
    display: none;
    text-transform: uppercase;

    @include auxiliary-text();
  }

  &-status-circle {
    animation: pulse 2s infinite;
    background-color: $accent-color;
    box-shadow: 0 0px 10px 2px rgba(55, 200, 113, 0);
    border-radius: 12px;
    height: 12px;
    margin-left: 15px;
    width: 12px;

    @-webkit-keyframes pulse {
      0% {
        -webkit-box-shadow: 0 0 10px 2px rgba(55, 200, 113, 0.5);
      }
      70% {
        -webkit-box-shadow: 0 0 10px 10px rgba(55, 200, 113, 0);
      }
      100% {
        -webkit-box-shadow: 0 0 10px 2px rgba(55, 200, 113, 0);
      }
    }
    @keyframes pulse {
      0% {
        -moz-box-shadow: 0 0 10px 2px rgba(55, 200, 113, 0.5);
        box-shadow: 0 0 10px 2px rgba(55, 200, 113, 0.5);
      }
      70% {
        -moz-box-shadow: 0 0 10px 10px rgba(55, 200, 113, 0);
        box-shadow: 0 0 10px 10px rgba(55, 200, 113, 0);
      }
      100% {
        -moz-box-shadow: 0 0 10px 2px rgba(55, 200, 113, 0);
        box-shadow: 0 0 10px 2px rgba(55, 200, 113, 0);
      }
    }

    &--disconnected {
      animation: pulse 2s infinite;
      background-color: $warm-color;
      box-shadow: 0 0px 10px 2px rgba(216, 27, 71, 0);

      @-webkit-keyframes pulse {
        0% {
          -webkit-box-shadow: 0 0 10px 2px rgba(216, 27, 71, 0.5);
        }
        70% {
          -webkit-box-shadow: 0 0 10px 10px rgba(216, 27, 71, 0);
        }
        100% {
          -webkit-box-shadow: 0 0 10px 2px rgba(216, 27, 71, 0);
        }
      }
      @keyframes pulse {
        0% {
          -moz-box-shadow: 0 0 10px 2px rgba(216, 27, 71, 0.5);
          box-shadow: 0 0 10px 2px rgba(216, 27, 71, 0.5);
        }
        70% {
          -moz-box-shadow: 0 0 10px 10px rgba(216, 27, 71, 0);
          box-shadow: 0 0 10px 10px rgba(216, 27, 71, 0);
        }
        100% {
          -moz-box-shadow: 0 0 10px 2px rgba(216, 27, 71, 0);
          box-shadow: 0 0 10px 2px rgba(216, 27, 71, 0);
        }
      }
    }
  }

  @media only screen and (min-width: 641px) {
    &-logo {
      height: 25px;
      width: 100px;
    }

    &-signals {
      width: 200px;
    }

    &-signals-icon {
      height: 55px;
    }

    &-status-text {
      display: block;
    }
  }
}
