.main-content {
  display: block;
  height: auto;
  margin: 0px;
  min-height: 100vh;
  padding: 0px;
  position: relative;
  width: 100%;
  background-color: $primary-color;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}
